* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: scroll;

}

#slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(15, 13, 13, 0.9);
    padding: 40px;
    border-radius: 10px;
    z-index: 1;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

#reel-container {
    display: flex;
    gap: 20px;  
}

.reel {
    width: 150px;
    height: 300px;
    background-color: white; 
    border-radius: 5px;
}